@charset "UTF-8";
/**
*
* @authors Your Name (you@example.org)
* @date    2023-03-10 16:57:22
* @version $Id$
*/

/*
purple #B1658B;
red #CA2420;
blue #326295;
orange #F89829;
*/

*, *:before, *:after {
  box-sizing: Border-box;
}

.lihsi-desktop{
	display: block !important;
}

.lihsi-mobile{
	display: none !important;
}

.nopadding{
	padding: 0 !important;
}

.txt-center{
	text-align: center;
}

.txt-primary-color{
	color: #D71618 !important;
}

.txt-second-color{
	color: #0442aa !important;
}

.txt-warning-color{
	color: #fa0000 !important;
}

.txt-primary-bold{
	font-weight: 600 !important;
}

.txt-primary-heavy-bold{
	font-weight: 900 !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

html{
	position: relative;
	width: 100%;
	min-height: 100vh;
	letter-spacing: 3px;
	font-family: "微軟正黑體", "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;

	overflow-x: hidden;
}

body{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body.base-bg{
	background: url('../images/base_bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

body.advance-bg{
	background: url('../images/advance_bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.illegal-mask{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #d0e7ea;
	z-index: 99;
	justify-content: center;
	align-items: center;

	font-size: 26px;
	font-weight: bold;
}

.illegal-mask.open{
	display: flex;
}

.loading{
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 90;
	background: url('../images/advance_bg.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.loading.close{
	display: none;
}

.loading .cover{
	display: inline-block;
	width: calc(290px * 0.8);
}

.loading .cover img{
	width: 100%;
}

.loading .txt{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 3%;
}

.loading .txt img{
	width: calc(948px * 0.8);
	margin: 0 auto;
}

.loading .btn{
	display: none;
	width: 100%;
	text-align: center;
	padding-top: 2%;
	text-align: center
}

.loading .btn.open{
	display: inline-block;
}

.loading .btn a{
	display: inline-block;
	cursor: pointer;
}


.loading .btn a img{
	width: calc(475px * 0.6);
}

.maintain-edge{
	display: flex;
	position: relative;
	width: 100%;
	min-height: calc(100vh - 70px) !important;
	margin-bottom: 70px;

	align-items: center;
}

.maintain-edge.close{
	display: none;
}


.logo{
	position: absolute;
	width: 11%;
	max-width: 211px;

	top: 0;
	left: 5%;
	z-index: 92;
}

.logo img{
	width: 100%;
}


/* have beam theater */
.beam-theater{
	position: relative;
	width: 100%;
	/*background: rgba(0, 0, 0, .5);*/
	padding: 60px;
}

.kv-extra{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*
	background-image: url(../images/kv_extra_object.png);
	background-size: 100% auto;
	background-position: center center;
	background-repeat: no-repeat;
	*/
}

.kv-extra .object{
	position: absolute;
}

.kv-extra .object img{
	width: 100%;
}

.kv-extra .object.object-1 {
	display: inline-block;
	width: 17%;
	top: 2.5%;
	right: -1%;
}

.kv-extra .object.object-2 {
	display: inline-block;
	width: 13.2%;
	top: 22.8%;
	left: 9.15%;
}

.kv-extra .object.object-3 {
	display: inline-block;
	width: 15.2%;
	top: 29.8%;
	right: 8.3%;
}

.kv-extra .object.object-4 {
	display: inline-block;
	width: 9.1%;
	bottom: 21.8%;
	left: -0.9%;
}

.kv-extra .object.object-5 {
	display: inline-block;
	width: 8.8%;
	bottom: 14%;
	left: 6.5%;
}

.kv-extra .object.object-6 {
	display: inline-block;
	width: 15.5%;
	bottom: 30.5%;
	right: 3.7%;
}

.kv-extra .object.object-7 {
	display: inline-block;
	width: 10.8%;
	bottom: -0.5%;
	left: -0.5%;
}

.kv-extra .object.object-8 {
	display: inline-block;
	width: 6.5%;
	bottom: 1.2%;
	right: 19.5%;
}

.kv-extra .object.object-9 {
	display: inline-block;
	width: 16.6%;
	bottom: 6%;
	right: 4.1%;
}


.kv-area{
	position: relative;
	/* 原始700px 不符合滿版，降為550px (1920) */
	width: 550px;
	margin: 0 auto;
	/*background: green;*/

	overflow-y: hidden;
}

.kv-area .signboard{
	position: relative;
	width: 100%;
}

.kv-area .signboard img{
	width: 100%;
}

.kv-area .master{
	position: relative;
	width: 100%;
	padding-top: 5%;
}

.kv-area .master img{
	display: block;
	width: 90%;
	margin: 0 auto;
}

.kv-area .word{
	position: relative;
	width: 100%;
	padding-bottom: 3%;
}

.kv-area .word img{
	display: block;
	width: 95%;
	margin: 0 auto;
}

.kv-area .btn{
	position: relative;
	width: 100%;
}

.kv-area .btn a{
	display: block;
	width: 40%;
	margin: 0 auto;
}

.kv-area .btn img{
	width: 100%;
}

/**** beam start ****/

.beam{
	position: absolute;
	width: calc(100% - 60px);
	height: calc(100% - 60px);

	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: -1;

	/*background: red;*/
}

.beam .main-canvas{
	position: relative;
	display: flex;
	flex-flow: column;
	width: 100%;
	height: 100%;
}

.beam .main-canvas .topblock{
	display: flex;
	width: 100%;
	height: 30px;

	/*background: blue;*/
}

.beam .main-canvas .middleblock{
	display: flex;
	width: 100%;
	flex-grow: 1;

	justify-content: space-between;

	/*background: green;*/
}

.beam .main-canvas .bottomblock{
	display: flex;
	width: 100%;
	height: 30px;

	/*background: purple;*/
}

.beam .main-canvas .topblock .firstzone{
	width: 26px;
	background: url("../images/base_beam_top_left.png");
	background-size: 100% 100%;
}

.beam .main-canvas .topblock .secondzone{
	flex-grow: 1;
	background: dimgrey;

	background: url("../images/base_beam_top_space.png");
	background-repeat: repeat-x;
}

.beam .main-canvas .topblock .thirdzone{
	width: 77px;
	background: url("../images/base_beam_top_center.png");
	background-size: 100% 100%;
}

.beam .main-canvas .topblock .fourthzone{
	width: 26px;
	background: url("../images/base_beam_top_right.png");
	background-size: 100% 100%;
}

.beam .main-canvas .middleblock .firstzone{
	display: flex;
	flex-flow: column;
	width: 31px;
	/*background: red;*/
}

.beam .main-canvas .middleblock .firstzone .cordchild{
	flex: 1;
	width: 100%;

	background: url("../images/base_beam_middle_left_space.png");
	background-size: 100% 100%;
	background-repeat: repeat-y;
}

.beam .main-canvas .middleblock .firstzone .umbilicuschild{
	width: 100%;
	height: 72px;

	background: url("../images/base_beam_middle_left_center.png");
	background-size: 100% 100%;
}

.beam .main-canvas .middleblock .secondzone{
	display: flex;
	flex-flow: column;
	width: 31px;
	/*background: red;*/
}

.beam .main-canvas .middleblock .secondzone .cordchild{
	flex: 1;
	width: 100%;

	background: url("../images/base_beam_middle_right_space.png");
	background-size: 100% 100%;
	background-repeat: repeat-y;
}

.beam .main-canvas .middleblock .secondzone .umbilicuschild{
	width: 100%;
	height: 72px;

	background: url("../images/base_beam_middle_right_center.png");
	background-size: 100% 100%;
}

.beam .main-canvas .bottomblock .firstzone{
	width: 26px;
	background: url("../images/base_beam_bottom_left.png");
	background-size: 100% 100%;
}

.beam .main-canvas .bottomblock .secondzone{
	flex-grow: 1;
	background: dimgrey;

	background: url("../images/base_beam_bottom_space.png");
	background-repeat: repeat-x;
}

.beam .main-canvas .bottomblock .thirdzone{
	width: 77px;
	background: url("../images/base_beam_bottom_center.png");
	background-size: 100% 100%;
}

.beam .main-canvas .bottomblock .fourthzone{
	width: 26px;
	background: url("../images/base_beam_bottom_right.png");
	background-size: 100% 100%;
}

/**** beam end ****/

.cabinet{
	position: absolute;
	bottom: 0;
	right: 0;

	width: 100%;
	max-width: 1920px;
}

.cabinet img{
	display: block;
	width: 100%;
}

.checkout{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 40%;
	z-index: 5;
}

.checkout .checkstand .top{
	display: block;
	width: 100%;
	height: 40px;
	border-radius: 0 10px 10px 0;
	border: 3px solid #8e8576;
	border-left: 0;
	background: #baaf9c;
}

.checkout .checkstand .bottom{
	width: 98%;
	padding-top: 28%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
	border-right: 3px solid #8e8576;
	background: #a1988a;
}

.checkout .checkstand .protagonist{
	width: 40%;
	margin: 0 auto;
}

.checkout .checkstand .protagonist img{
	display: block;
	width: 100%;
}

.examination{
	position: relative;
	width: 42%;
	z-index: 6;
	margin: auto 8% 0 auto;
}

.examination img{
	display: block;
	width: 100%;
}

.examination .question{
	position: absolute;

	width: 73%;

	top: 8.5%;
	left: 15.6%;
}

.examination .item{
	position: absolute;
	width: 65%;
}

.examination .item.item-1{
	top: 39%;
	left: 23%;
}

.examination .item.item-2{
	top: 48%;
	left: 23%;
}

.examination .item.item-3{
	top: 57%;
	left: 23%;
}

.examination .item.item-4{
	top: 66%;
	left: 23%;
}

.examination .item.item-5{
	top: 75%;
	left: 23%;
}

.examination .item .answer{
	position: relative;
	width: 100%;
	padding-left: 10%;

	cursor: pointer;
}

.examination .item .answer::before{
	content: "";
	position: absolute;
	width: 10%;
	height: 100%;
	bottom: 4%;
	left: 0;

	background: url("../images/answer_uncheck.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: left center;
}

.examination .item .answer.chs::before{

	background: url("../images/answer_check.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: left center;
}

.examination .item .answer img{
	width: 100%;
}

.result{
	display: block;
	position: relative;
	width: 100%;
	max-width: 1920px;
	z-index: 6;

	padding: 60px;
	/*background: red;*/

	margin: 0 auto;
}

.result .dog-tag{
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	padding-left: 10%;
	/*background: blue;*/
}

.result .dog-tag .cover{
	position: relative;
	width: 100%;
	text-align: center;
	padding: 0 15%;
}

.result .dog-tag .cover img{
	width: 100%;
	max-width: calc(617px * 0.8);
}

.result .dog-tag .memo{
	position: relative;
	width: 100%;
	text-align: center;
}

.result .dog-tag .memo img{
	width: 100%;
	max-width: calc(700px * 0.8);
}

.result .intro{
	display: inline-block;
	position: relative;
	float: left;
	width: 50%;
	padding-left: 3%;
	padding-right: 3%;
	/*background: yellow;*/
}

.result .intro .people{
	display: inline-block;
	width: calc(120px * 0.8);
	text-align: left;

	padding-bottom: 2%;
}

.result .intro .people img{
	width: 100%;
}

.result .intro .subject{
	display: inline-block;
	width: 100%;
	text-align: left;
}

.result .intro .subject img{
	width: 100%;
}

.result .intro .detail{
	display: inline-block;
	width: 100%;
	text-align: left;

	padding-bottom: 2%;
}

.result .intro .detail img{
	width: 100%;
}

.result .intro .link{
	width: 100%;
}

.result .intro .link .item{
	display: inline-block;
	float: left;
	width: 50%;

	padding: 1% 2%;
	text-align: left;
}

.result .intro .link .item a{
	display: inline-block;
	width: 100%;
}

.result .intro .link .item a img{
	width: 100%;
}


footer{
	position: absolute;
	display: flex;
	width: 100%;
	height: 70px;

	left: 0;
	bottom: 0;

	justify-content: center;
	align-items: center;

	background: #546886;
	color: #FFF;
}

footer.close{
	display: none;
}

footer .txt-block{
	width: 100%;
	padding: 0 5%;

}

footer .txt-block img{
	width: 100%;
	max-width: 1680px;
}



/*小於等於1920*/
@media (max-width: 1920px) {

}


/*小於等於1800*/
@media (max-width: 1800px) {

}

/*小於等於1440*/
@media (max-width: 1440px) {

	.logo{
		width: 160px;

		top: 0;
		left: 6%;
	}

	.maintain-edge{
		min-height: calc(100vh - 50px) !important;
		margin-bottom: 50px;
	}

	.kv-area{
		/* 原始700px 不符合滿版，降為550px (1920) */
		width: calc(550px * (1440/1920));
	}

	.beam{
		position: absolute;
		width: calc(100% - 30px);
		height: calc(100% - 30px);
	}

	footer{
		height: 50px;
	}

}
/*小於等於1200*/
@media (max-width: 1200px) {
	
}

/*小於等於1024*/
@media (max-width: 1024px) {

	
}


@media (max-width: 992px) {

}

/*小於等於768*/
@media (max-width: 768px) {
	
	.lihsi-desktop{
		display: none !important;
	}

	.lihsi-mobile{
		display: block !important;
	}

	.loading .cover{
		width: 28%;
	}

	.loading .txt{
		padding-top: 25px;
	}

	.loading .txt img{
		width: 70%;
	}

	.loading .btn{
		padding-top: 25px;
	}

	.loading .btn a img{
		width: 50%;
	}

	.logo{
		width: 100px;

		top: 0;
		left: 8%;
	}

	.kv-extra{
		/*
		background-image: url(../images/kv_extra_object_mobile.png);
		background-size: 100% auto;
		background-position: bottom center;
		background-repeat: no-repeat;
		*/
	}

	.kv-extra .object.object-1 {
		width: 24.4%;
		top: auto;
		bottom: -2%;
		right: -5%;
	}

	.kv-extra .object.object-2 {
		width: 18.6%;
		top: auto;
		bottom: 0.7%;
		left: 24.8%;
	}

	.kv-extra .object.object-3 {
		width: 28%;
		top: auto;
		bottom: 41%;
		right: -17%;
	}

	.kv-extra .object.object-4 {
		width: 16%;
		bottom: 17.5%;
		left: -7.7%;
	}

	.kv-extra .object.object-5 {
		width: 15%;
		bottom: 14.1%;
		left: 6.3%;
	}

	.kv-extra .object.object-6 {
		width: 32%;
		top: 13%;
		right: -10.5%;
	}

	.kv-extra .object.object-7 {
		width: 22%;
		bottom: -0.5%;
		left: -0.5%;
	}

	.kv-extra .object.object-8 {
		width: 11.4%;
		bottom: 6%;
		right: 22.4%;
	}

	.kv-extra .object.object-9 {
		width: 30%;
		bottom: 8%;
		right: -5.5%;
	}

	.kv-area{
		width: 80%;
	}

	.kv-area .master img{
		width: 100%;
	}

	.kv-area .word{
		padding-bottom: 5%; 
	}

	.kv-area .word img{
		width: 80%;
	}

	.kv-area .btn a{
		width: 60%;
	}

	.beam-theater{
		padding: 100px 30px 50px 30px;
	}

	.beam{
		width: calc(100% - 15px);
		height: calc(100% - 15px);
	}

	.beam .main-canvas{
		position: relative;
		display: flex;
		flex-flow: column;
		width: 100%;
		height: 100%;
	}

	.beam .main-canvas .topblock{
		height: calc(30px * 0.5);
	}

	.beam .main-canvas .middleblock{
		display: flex;
		width: 100%;
		flex-grow: 1;

		justify-content: space-between;

		/*background: green;*/
	}

	.beam .main-canvas .bottomblock{
		display: flex;
		width: 100%;
		height: calc(30px * 0.5);

		/*background: purple;*/
	}

	.beam .main-canvas .topblock .firstzone{
		width: calc(26px * 0.5);
	}

	.beam .main-canvas .topblock .secondzone{

		background-size: 100% 100%;
	}

	.beam .main-canvas .topblock .thirdzone{
		width: calc(77px * 0.5);
	}

	.beam .main-canvas .topblock .fourthzone{
		width: calc(26px * 0.5);
	}

	.beam .main-canvas .middleblock .firstzone{
		width: calc(31px * 0.5);
	}

	.beam .main-canvas .middleblock .firstzone .umbilicuschild{
		height: calc(72px * 0.5);
	}

	.beam .main-canvas .middleblock .secondzone{
		width: calc(31px * 0.5);
	}

	.beam .main-canvas .middleblock .secondzone .umbilicuschild{
		height: calc(72px * 0.5);
	}

	.beam .main-canvas .bottomblock .firstzone{
		width: calc(26px * 0.5);
	}

	.beam .main-canvas .bottomblock .secondzone{

		background-size: 100% 100%;
	}

	.beam .main-canvas .bottomblock .thirdzone{
		width: calc(77px * 0.5);
	}

	.beam .main-canvas .bottomblock .fourthzone{
		width: calc(26px * 0.5);
	}

	.cabinet{
		left: 0;
		bottom: 40%;
		width: 768px;
		overflow-x: hidden;
	}

	.checkout{
		width: 100%;
	}

	.checkout .checkstand .top{
		height: 30px;
		border-radius: 0;
		border: 2px solid #8e8576;
		border-left: 0;
		border-right: 0;
	}

	.checkout .checkstand .bottom{
		width: 100%;
		padding-top: 72%;
		border-right: 0;
	}

	.checkout .checkstand .protagonist{
		width: 40%;
		margin: 0 auto auto 8%;
	}

	.checkout .checkstand .protagonist img{
		display: block;
		width: 100%;
	}

	.examination{
		width: 95%;
		margin: auto auto 0 2%;
	}

	.result{
		padding: 100px 30px 50px 30px;
	}

	.result .dog-tag{
		width: 100%;
		padding-top: 20px;
		padding-left: 0%;
		padding-bottom: 5%;
	}

	.result .dog-tag .cover{
		padding: 0 13%;
	}

	.result .dog-tag .memo{
		padding: 0 3%;
	}

	.result .intro{
		position: relative;
		width: 100%;
		padding-top: 7%;
		padding-left: 3%;
		padding-right: 3%;
	}

	.result .intro .people{
		position: absolute;
		display: inline-block;
		width: 14%;
		top: 0;
		left: 2%;
		padding-bottom: 0%;
	}

	.result .intro .people img{
		width: 100%;
	}

	.result .intro .subject{
		display: inline-block;
		width: 100%;
		text-align: left;
	}

	.result .intro .subject img{
		width: 100%;
	}

	.result .intro .detail{
		padding-bottom: 4%;
	}

	.result .intro .link .item:nth-child(3){
      margin-left: 25%;
	}
}

@media (max-width: 480px) {
	.beam-theater{
		padding: 60px 30px 30px 30px;
	}

	.result{
		padding: 60px 30px 30px 30px;
	}
}

/*小於等於414*/
@media (max-width: 414px) {
}

/*小於等於350*/
@media (max-width: 350px) {
}